body {
    display: flex;
    font-family: Arial, sans-serif;
    height: 1280px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 50%;
}
.sidebar {
    width: 50%;
    height: 100%;
    background-color: gold;
}

.sidebar > section > h2 {
    text-align: center;
    background-color: dimgray;
    color: gold;
    font-weight: lighter;
}

.contact-info {
    display: flex;
    flex-direction: column;
    margin: 25px;
}

header {
    margin-bottom: 70px;
}

header > h1 {
    font-weight: 100;
    font-size:xx-large;
    margin-bottom: 10px;
}

header > h2 {
    font-weight:600;
    margin: 10px;
}

p, li, a {
    font-size:small;
    margin: 5px;
}

.sidebar > section > p {
    margin: 25px;
}
.date {
    width: 30%;
}

.main {
    margin: 70px;
}

.item, .ref {
    display: flex;
    justify-content: left;
    padding-right: 50px;
}

.ref {
    width: 50%;
}
.refs {
    display: flex;
}

.item > div {
    width: 70%;

}

h5 {
    margin: 0px;
    padding: 0px;
}

h6 {
    margin: 0px;
    padding: 0px;
}